<a href="https://colab.research.google.com/github/melliaafs/Machine-Learning-1/blob/main/Algoritma_Evaluation_using_datasets_ballonns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:

#import library yang dibutuhkan

import pandas as pd

#mendefinisikan link dataset

path = "https://archive.ics.uci.edu/ml/machine-learning-databases/balloons/adult+stretch.data"

#mendefinisikan list berisi kolom kolom data set

names = ['sepal-1', 'sepal-w','peta;-1', 'petal-w', 'class' ]

data = pd.read_csv(path, names=names)

In [14]:
#menampilkan 10 data teratas

data.head(10)

  sepal-1 sepal-w  peta;-1 petal-w class
0  YELLOW   SMALL  STRETCH   ADULT     T
1  YELLOW   SMALL  STRETCH   ADULT     T
2  YELLOW   SMALL  STRETCH   CHILD     F
3  YELLOW   SMALL      DIP   ADULT     F
4  YELLOW   SMALL      DIP   CHILD     F
5  YELLOW   LARGE  STRETCH   ADULT     T
6  YELLOW   LARGE  STRETCH   ADULT     T
7  YELLOW   LARGE  STRETCH   CHILD     F
8  YELLOW   LARGE      DIP   ADULT     F
9  YELLOW   LARGE      DIP   CHILD     F

In [15]:
#menampilkan dimensi dataset

data.shape

(20, 5)

In [16]:
#import library yang dibutuhkan

from sklearn import model_selection

#menyimpan nlai-nilai dala dataset ke dalam variabel array

array = data.values

#menyimpan data fitur-fitur pada dataset ke  dalam variabel X

X =  array[:, 0:4]

#menyimpan data label dataset ke dalam variabel Y

Y = array[:,4]

#mendefinisikan ukuran testing data dan seed untuk random state

test_size = 0.20
seed = 7

#memisahkan data menjadi training (dan validation) set dan testing set
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = test_size, random_state= seed)

In [17]:

#import library berisi algoritma klasifikasi yang akan digunakan

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

#mendefinisikan array kosong
models=[]

#membuat array asosiatif berisi nama algoritma dan algortima klasifikasinya
models.append(('Decision Tree', DecisionTreeClassifier() ))
models.append(('Random Forest', RandomForestClassifier()))
models.append(('SVM', SVC()))

In [18]:
#mendefinisikan seed dan scoring yang digunakan untuk menguji model dengan validation data

seed = 7
scoring= 'accuracy'

In [20]:
results = []
names = []

#membagi data menjadi  training dan validation set menggunakan k-fold cross
#validation dengan k = 10
for name, model in models:
  kfold = model_selection.KFold(n_splits = 10, random_state = seed)
  #menguji akurasi dari masing-masing model menggunakan validation data
  cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv = kfold, scoring = scoring)
  results.append (cv_results)
  names.append(name)
  msg = "%s : %f (%f)" %(name, cv_results.mean(), cv_results.std())
  print(msg)

output di atas menujukkan bahwa algoritma SVM menghasilkan akurasi terbaik dari pengujian akurasi model klasifikasi(menggunakan validation set) yang dihasilkan dari proses pelatihan data(menggunakan training set)

In [ ]:
#import library untuk mengevaluasi algoritma
from sklearn.metrics import  accuracy_score, confusion_matrix, classification_report


#mendefinisikan algoritma SVM
svm = SVC()

#melatih data training dengan algoritma SVM
svm.fit(X_train, Y_train)

#menguji proses yang dihasilkan dari proses pelatihan data dengan testing data
predictions = svm.predict(X_test)

print('akurasi pada testing data :', accuracy_score(Y_test, predictions))
print('confusion matrix :', confusion_matrix(Y_test, predictions) )
print('Classification Report:', classification_report(Y_test, predictions))