<a href="https://colab.research.google.com/github/melliaafs/Machine-Learning-1/blob/main/K_Folds_Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import library yang dibutuhkan

import pandas as pd

#mendefinisikan link dataset

path = "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

#mendefinisikan list berisi kolom kolom data set

names = ['sepal-1', 'sepal-w','peta;-1', 'petal-w', 'class' ]

data = pd.read_csv(path, names=names)

In [ ]:
#menampilkan 10 data teratas

data.head(10)

   sepal-1  sepal-w  peta;-1  petal-w        class
0      5.1      3.5      1.4      0.2  Iris-setosa
1      4.9      3.0      1.4      0.2  Iris-setosa
2      4.7      3.2      1.3      0.2  Iris-setosa
3      4.6      3.1      1.5      0.2  Iris-setosa
4      5.0      3.6      1.4      0.2  Iris-setosa
5      5.4      3.9      1.7      0.4  Iris-setosa
6      4.6      3.4      1.4      0.3  Iris-setosa
7      5.0      3.4      1.5      0.2  Iris-setosa
8      4.4      2.9      1.4      0.2  Iris-setosa
9      4.9      3.1      1.5      0.1  Iris-setosa

In [ ]:
#menampilkan dimensi dataset

data.shape

(150, 5)

In [ ]:
#import library yang dibutuhkan

from sklearn import model_selection

#menyimpan nlai-nilai dala dataset ke dalam variabel array

array = data.values

#menyimpan data fitur-fitur pada dataset ke  dalam variabel X

X =  array[:, 0:4]

#menyimpan data label dataset ke dalam variabel Y

Y = array[:,4]

#mendefinisikan ukuran testing data dan seed untuk random state

test_size = 0.20
seed = 7

#memisahkan data menjadi training (dan validation) set dan testing set
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = test_size, random_state= seed)

In [ ]:

#import library berisi algoritma klasifikasi yang akan digunakan

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

#mendefinisikan array kosong
models=[]

#membuat array asosiatif berisi nama algoritma dan algortima klasifikasinya
models.append(('Decision Tree', DecisionTreeClassifier() ))
models.append(('Random Forest', RandomForestClassifier()))
models.append(('SVM', SVC()))

In [ ]:
#mendefinisikan seed dan scoring yang digunakan untuk menguji model dengan validation data

seed = 7
scoring= 'accuracy'

In [ ]:
results = []
names = []

#membagi data menjadi  training dan validation set menggunakan k-fold cross
#validation dengan k = 10
for name, model in models:
  kfold = model_selection.KFold(n_splits = 10, random_state = seed, shuffle = True)
  #menguji akurasi dari masing-masing model menggunakan validation data
  cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv = kfold, scoring = scoring)
  results.append (cv_results)
  msg = "%s : %f (%f)" %(name, cv_results.mean(), cv_results.std())
  print(msg)

Decision Tree : 0.958333 (0.076830)
Random Forest : 0.966667 (0.040825)
SVM : 0.983333 (0.033333)

output di atas menujukkan bahwa algoritma SVM menghasilkan akurasi terbaik dari pengujian akurasi model klasifikasi(menggunakan validation set) yang dihasilkan dari proses pelatihan data(menggunakan training set)

In [ ]:
#import library untuk mengevaluasi algoritma
from sklearn.metrics import  accuracy_score, confusion_matrix, classification_report


#mendefinisikan algoritma SVM
svm = SVC()

#melatih data training dengan algoritma SVM
svm.fit(X_train, Y_train)

#menguji proses yang dihasilkan dari proses pelatihan data dengan testing data
predictions = svm.predict(X_test)

print('akurasi pada testing data :', accuracy_score(Y_test, predictions))
print('confusion matrix :', confusion_matrix(Y_test, predictions) )
print('Classification Report:', classification_report(Y_test, predictions))

akurasi pada testing data : 0.8666666666666667
confusion matrix : [[ 7  0  0]
 [ 0 10  2]
 [ 0  2  9]]
Classification Report:                  precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         7
Iris-versicolor       0.83      0.83      0.83        12
 Iris-virginica       0.82      0.82      0.82        11

       accuracy                           0.87        30
      macro avg       0.88      0.88      0.88        30
   weighted avg       0.87      0.87      0.87        30